@tailwind base;
@tailwind components;
@tailwind utilities;

.loading-total-count:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 900ms infinite;
  animation: ellipsis steps(4, end) 900ms infinite;
  content: "\2026";
  /* ascii code for the ellipsis character */
  width: 0px;
}
.text {
  font-family: "Montserrat Regular", sans-serif;
}

@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

/* create theming variables for colors, specifically text, primary, secondary, bg and accent for light and dark mode, dark-mode is toggled using data-theme attribute */

/* :root {
  --text: #1e1d2d;
  --text-accent: #531e77;
  --primary: #ed3461;
  --secondary: #531e77;
  --bg: #e3ebf4;
  --accent: #ff0ae6;
}

[data-theme="dark"] {
  --text: #ecf2f9;
  --text-accent: #9afcf4;
  --primary: #2e51f5;
  --secondary: #52baea;
  --bg: #212032;
  --accent: #ff0ae6;
} */

@layer base {
  :root {
    --background: hsl(0 0% 100%);
    --foreground: #1e1d2d;

    --muted: #e3ebf4;
    --muted-foreground: hsl(215.4 16.3% 46.9%);

    --popover: hsl(0 0% 100%);
    --popover-foreground: hsl(222.2 47.4% 11.2%);

    --card: hsl(0 0% 100%);
    --card-foreground: hsl(222.2 47.4% 11.2%);

    --border: hsl(214.3 31.8% 91.4%);
    --input: hsl(214.3 31.8% 91.4%);

    --primary: #ed3461;
    --primary-foreground: hsl(210 40% 98%);

    --secondary: #e3ebf4;
    --secondary-foreground: #ed3461;

    --accent: #531e77;
    --accent-foreground: #e3ebf4;

    --destructive: hsl(0 100% 50%);
    --destructive-foreground: hsl(210 40% 98%);

    --ring: hsl(215 20.2% 65.1%);

    --radius: 0.5rem;
  }

  [data-theme="dark"] {
    --background: hsl(224 71% 4%);
    --foreground: hsl(213 31% 91%);

    --muted: hsl(223 47% 11%);
    --muted-foreground: hsl(215.4 16.3% 56.9%);

    --popover: hsl(224 71% 4%);
    --popover-foreground: hsl(215 20.2% 65.1%);

    --card: hsl(222.2 47.4% 11.2%);
    --card-foreground: hsl(0 0% 100%);

    --border: hsl(216 34% 17%);
    --input: hsl(216 34% 17%);

    --primary: hsl(210 40% 98%);
    --primary-foreground: hsl(222.2 47.4% 1.2%);

    --secondary: hsl(222.2 47.4% 11.2%);
    --secondary-foreground: hsl(210 40% 98%);

    --accent: hsl(345, 84%, 80%);
    --accent-foreground: hsl(210 40% 98%);

    --destructive: hsl(0 63% 31%);
    --destructive-foreground: hsl(210 40% 98%);

    --ring: hsl(216 34% 17%);

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

input[type="color"] {
  -webkit-appearance: button;
  border: none;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
}

@layer components {
  .admin-h1 {
    @apply scroll-m-20 pb-4 text-4xl font-extrabold tracking-tight lg:text-5xl;
  }
  .admin-h2 {
    @apply scroll-m-20 pb-2 text-3xl font-semibold tracking-tight transition-colors first:mt-0;
  }
}
