@tailwind base;
@tailwind components;
@tailwind utilities;

.loading-total-count:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 900ms infinite;
  animation: ellipsis steps(4, end) 900ms infinite;
  content: "\2026";
  /* ascii code for the ellipsis character */
  width: 0px;
}
.text {
  font-family: "Montserrat Regular", sans-serif;
}

@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

/* create theming variables for colors, specifically text, primary, secondary, bg and accent for light and dark mode, dark-mode is toggled using data-theme attribute */

:root {
  --text: #212032;
  --text-accent: #212032;
  --primary: #2e51f5;
  --secondary: #52baea;
  --bg: #ecf2f9;
  --accent: #ff0ae6;
}

[data-theme="dark"] {
  --text: #ecf2f9;
  --text-accent: #9afcf4;
  --primary: #2e51f5;
  --secondary: #52baea;
  --bg: #212032;
  --accent: #ff0ae6;
}
